#navContainer {
margin:0;
padding:0;
background:url(../images/bg1.png) repeat-x;
border: 1px solid #7398ba;
text-align:center;
width:130px;
}
#navContainer ul{
margin:0;
padding:0;
list-style:none;
}
#navContainer ul li {
position:relative;
}
#navContainer ul li span{
display:block;
background:url(../images/buttonLeft.png) top left no-repeat;

}
#navContainer ul li a{
text-decoration:none;
color:white;
font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
display:block;
padding:8px;
background:url(../images/buttonRight.png) top right no-repeat;
}
#navContainer ul li span:hover {
background:url(../images/hoverLeft.png) top left no-repeat;
}
#navContainer ul li a:hover{
background:url(../images/hoverRight.png) top right no-repeat;
}
#navContainer ul ul{
position:absolute;
display:none;
}
#navContainer ul ul li a{
background:#bec8cb;
}
#navContainer ul li:hover ul{
width:100%;
position:absolute;
display:block; left:128px;
top:0;
}
