body {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #E6E6DC;
	font-size: small;
	word-wrap: break-word;
}
h1 {
    font-size: 1.4em;
}
h2 {
    font-size: 1.3em;
}
h3 {
	font-size: 1.2em;
}
h4 {
	font-size: 1.1em;
}
img {
	border: 0px;
}
table {
	margin-left: auto;
	margin-right: auto;
}

div.boxlt {
	float: left;
}
div.boxrt {
	float: right;
}
.active {
	font-style: italic;
	font-weight: bold;
}
.right {
	text-align: right;
	display: block;
}
.left {
	text-align: left;
	display: block;
}
.vertical-align {
	vertical-align: middle;
}
.center-align {
	text-align: center;
}
.right-align {
	text-align: right;
}
.left-align {
	text-align: left;
}
span.right, div.right {
	text-align: right;
	float: right;
	padding-right: 4px;
}
span.left, div.left {
	text-align: left;
	float: left;
	padding-left: 4px;
}
a:link {
	color: #669;
	text-decoration: none;
}
a:visited {
	color: #669;
	text-decoration: none;
}
a:hover {
	color: #669;
	text-decoration: underline;
}
link.visited {
	color: #669;
	text-decoration: none;
}
.error {
	color: red;
}
.green {
	background-color: #3c3;
	text-align:	center;
}
.red {
	background-color: #F9C;
	text-align:	center;
}
label {
	width: 8em;
	margin-top: 4px;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block;
}
fieldset {
	margin: 0px 0px 5px 10px;
	clear: left;
	float: left;
	border: 1px solid #276D0A;
	width: 95%;
	padding: 0.5em 0em 0.5em 0.5em;
}
legend {
	border: 1px solid #276D0A;
	background-color: #FFF;
	background-image: url(../images/topnav_bg_blue.gif);
	padding: 0px 6px;
	height: 18px;
	margin-top: 0.5em;
}
#pageContainer {
	margin: 0px auto 15px;
	background-color: #FFF;
	border-width: thin;
	border-style: none;
	border-color: #8DA8D5;
	width: 990px;
}
#header {
	margin: 0px auto;
	width: 100%;
	height: 0px;
	background-repeat: no-repeat;
	background-color: #004D99;
}
#header a, #header a:link {
	color: #000;
	padding-right: 6px;
	margin-right: 6px;
}
#sidebar {
	margin: 5px 5px 10px;
	padding: 5px;
	width: 130px;
	min-height: 700px;
	float: left;
	background-color: #D8DADD;
}
/* for Internet Explorer */

/*\*/

* html #sidebar {
	height: 700px;
}
/**/

.mainContent {
	padding: 10px 5px;
	float: left;
	width: 830px;
}
.mainContent p {
	margin: 3px 0px;
}
#navcontainer ul {
	width: 100%;
	display: block;
	margin: 0px auto 10px auto;
	padding: 0px;
	background-image: url(../images/topnav_bg_blue.gif);
	list-style-type: none;
}
#navcontainer li {
	padding: 0px 20px 0px 0px;
	display: inline;
}
#navlist {
	text-align: center;
	padding-bottom: 10px;
	background-image: url(../images/topnav_bg_blue.gif);
	padding-top: 0px;
}
#navlist a, #navlist a:link, #navlist a:visited {
	padding: 1px;
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-size: 1em;
	text-decoration: none;
}
#navlist a:hover, #navlist a:active, #navlist a:focus {
	padding: 1px;
	background-image: url(../images/topnav_bg_grey.gif);
	background-color: #DCE3F0;
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-size: 1em;
	text-decoration: none;
}
#footer {
	text-align: center;
	margin: 0px auto;
	width: 100%;
	height: 65px;
	border-top: solid medium #666666;
	background-color: #004D99;
	clear: both;
}
#bottomcontainer {
	width: 560px;
	display: block;
	margin: auto;
}
#footer ul {
	margin: 0px auto 0px auto;
	list-style-type: none;
}
#footer li {
	padding: 0px 20px 0px 0px;
	display: inline;
}
#footer a, #footer a:link, #footer a:visited {
	color: #FFF;
	text-decoration: none;
}
#footer a:hover, #footer a:active, #footer a:focus {
	color: #FFF;
	text-decoration: underline;
}
.clear {
	margin: 0px;
	clear: left;
	visibility: hidden;
}
.cleared {
	clear: both;
	visibility: hidden;
}
.news_right {
	float:right;
	width:200px;
	margin:0 0 5px 10px;
	padding:0 10px 0 10px;
	background:#CFD9BE;
	color:#000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.news p {
	margin:10px 10px;
}
.news_cnr_top {
	background:url(../images/cnr_tr.gif) no-repeat top right;
	margin:0 -10px 0 -10px;
}
.news_cnr_bottom {
	background:url(../images/cnr_br.gif) no-repeat top right;
	margin:0 -10px 0 -10px;
}
img.cnr {
	width:8px;
	height:8px;
	border:none;
	display: block !important;
}
.livesearch {
	background-color: #FFF;
	position: absolute;
	width:150px;
	margin-left:110px;
	display: none;
}
.left_box {
	border:thin black solid;
	float:left;
	width:48%;
	text-align:center;
}
.right_box {
	 word-wrap: break-word;
	border:thin black solid;
	float:right;
	width:48%;
	text-align:center;
}
div.w1h1 {
    width: 90%;
    float:left;

}
.os-lineup-field {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 522px;
    height: 400px;
    margin: 0 auto;
    background-image: url(../images/soccerfield.png);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    color: #fff;
    font-weight: bold;
    z-index: 1;
}
.os-lineup-player {
    position: absolute;
    width: 120px;
}
.os-lineup-player.os-lineup-player-goalkeeper {
    left: 201px;
    top: 340px;
}
.os-lineup-player.os-lineup-player-defender1 {
    left: 36px;
    top: 230px;
}
.os-lineup-player.os-lineup-player-defender2 {
    left: 136px;
    top: 255px;
}
.os-lineup-player.os-lineup-player-defender3 {
    left: 266px;
    top: 255px;
}
.os-lineup-player.os-lineup-player-defender4 {
    left: 366px;
    top: 230px;
}
.os-lineup-player.os-lineup-player-midfield1 {
    left: 76px;
    top: 135px;
}
.os-lineup-player.os-lineup-player-midfield2 {
    left: 136px;
    top: 160px;
}
.os-lineup-player.os-lineup-player-midfield3 {
    left: 266px;
    top: 160px;
}
.os-lineup-player.os-lineup-player-midfield4 {
    left: 326px;
    top: 135px;
}
.os-lineup-player.os-lineup-player-forward1 {
    left: 136px;
    top: 65px;
}
.os-lineup-player.os-lineup-player-forward2 {
    left: 266px;
    top: 65px;
}
